<div class="box">
  <p>lazy works!</p>

  <ng-zone-demo></ng-zone-demo>
  <hr>

  <p>
    <button (click)="getWeatherOfBeijing()">
      lazy {{ 'home.button.get_beijing_weather' | translate}}
    </button>
    <button (click)="clearWeatherOfBeijing()">
      app {{ 'home.button.clear_beijing_weather' | translate}}
    </button>
  </p>


  <div class="weather-box">
    weather in lazy:
    <pre>{{ beijingWeather | json }}</pre>
  </div>

  <nav>
    {{ 'home.navigation' | translate }}
    <a routerLink="lazy-a" routerLinkActive="link-active">lazy-a</a> &nbsp;
    <a routerLink="lazy-b" routerLinkActive="link-active">lazy-b</a>
  </nav>

  <router-outlet></router-outlet>
</div>
