<div class="box">
  <p>lazy works!</p>

  <ng-zone-demo></ng-zone-demo>
  <hr />

  <p>
    <button (click)="getWeatherOfBeijing()">
      lazy {{ "home.button.get_beijing_weather" | translate }}
    </button>
    <button (click)="clearWeatherOfBeijing()">
      app {{ "home.button.clear_beijing_weather" | translate }}
    </button>
  </p>

  <div class="weather-box">
    weather in lazy:
    <pre>{{ beijingWeather | json }}</pre>
  </div>

  <nav>
    {{ "home.navigation" | translate }}
    <a [routerLink]="['lazy-a', { age: 29 }]" routerLinkActive="link-active" [queryParams]="{ name: 'a' }">lazy-a</a>
    &nbsp;

    <a [routerLink]="['lazy-b', 'b']" routerLinkActive="link-active">lazy-b</a>
    &nbsp;

    <!-- 路径参数 不能和 路由出口参数 一起使用，会被覆盖 -->
    <a [routerLink]="[
        'lazy-c',
        { outlets: { first: 'first', second: 'second' } }
      ]" routerLinkActive="link-active">lazy-c</a>
  </nav>

  <router-outlet></router-outlet>
</div>
