<div class="top">
  <h1>{{ 'home.title' | translate }}</h1>

  <h3>{{ 'home.see_console' | translate }}</h3>

  <p>
    <span style="margin-right: 10px">{{ 'home.label.change_language' | translate }}</span>
    <select #select (change)="changeLang(select.value)">
      <option *ngFor="let lang of supportedLangs" [value]="lang" [selected]="lang === currentLang">
        {{lang}}
      </option>
    </select>
  </p>

  <p>
    <button (click)="getWeatherOfBeijing()">
      app {{ 'home.button.get_beijing_weather' | translate}}
    </button>
    <button (click)="clearWeatherOfBeijing()">
      app {{ 'home.button.clear_beijing_weather' | translate}}
    </button>
  </p>

  <!-- <div class="weather-box" [@openClose]="beijingWeather ? 'open' : 'closed'">
    weather in app:
    <pre>{{ beijingWeather | json }}</pre>
  </div> -->

  <div class="weather-box" @flyInOut *ngIf="beijingWeather">
    weather in app:
    <pre>{{ beijingWeather | json }}</pre>
  </div>

  <!-- <div class="weather-box" @insertRemoveTrigger *ngIf="beijingWeather">
    weather in app:
    <pre>{{ beijingWeather | json }}</pre>
  </div> -->

  <!-- <div class="weather-box">
    weather in app:
    <pre>{{ beijingWeather | json }}</pre>
  </div> -->

  <p>0.259 -> {{ 0.259 | percent: '2.2'}}</p>
  <p>{{ PI }} -> {{ PI | number: '2.2-2'}}</p>

  <nav>
    {{ 'home.navigation' | translate }}
    <a routerLink="fast" routerLinkActive="link-active">fast</a>&nbsp;
    <a routerLink="lazy" routerLinkActive="link-active">lazy</a>
  </nav>

  <router-outlet></router-outlet>

  <a [href]="location.pathname + '#top'" target="_self" class="back_to_top">
    {{ 'home.button.back_to_top' | translate }}
  </a>
</div>
