div.top {
  border: 1px solid orange
}

.weather-box {
  background-color: gainsboro;
  overflow: auto;
}

.back_to_top {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 2px;
  outline: 0;
  line-height: 1.5715;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
